
header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.jumbotron {
  margin-bottom: 0;
}

.jumbotron:nth-child(odd) {
  background-color: white;
}

.jumbotron:not(:first-of-type) {
  text-align: center;
}

.portrait {
  margin-right: 1.5rem;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
}

.card {
  cursor: pointer;
  width: 300px;
}

a.card, a.card:hover {
  color: black;
  text-decoration: none;
}

.card img {
  height: 200px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card:hover {
  border-color: black;
}

.bg-find {
  background-color: rgba(40,167,69,0.125);
}

.bg-create {
  background-color: rgba(0,123,255,0.125);
}

.bg-developer {
  background-color: rgba(255,193,7,0.125);
}

.bg-features {
  background-color: rgba(23,162,184,0.125);
}

ul {
  margin-bottom: 0;
}

ul li {
  padding: 10px;
  cursor: pointer;
}

ul li:hover {
  background-color: rgba(0,0,0,0.125);
}

ul img {
  width: 80px;
}
